{# src/OP/TradeBundle/views/Trade/finish.html.twig #}

{% extends '::Layout.html.twig' %}

{% block current %}
    <li ><a href="{{ path('op_trade_homepage') }}">Home</a></li>
    <li class="active"><a href="{{ path('op_trade_billeterie') }}">Billeterie</a></li>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% if valider is defined %}
        <h3>Votre Commande à bien été enregistrée !</h3>
        <p>Merci pour votre commande ! Nous venons de vous envoyer une confirmation de commande par e-mail, incluant vos billets. </p>
    {% endif %}
    {% if vider is defined %}
        <h3>Votre Panier à bien été vidée !</h3>
        <p>Merci de votre visite.</p>
    {% endif %}
    <div>
{% endblock %}
